
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class=" table table-border">


    <tr>
        <td> Name </td>
        <td> Id </td>
        <td> DOB </td>

    </tr>

    <tr>
        <td> Faria </td>
        <td> 11 </td>
        <td> 11-11-11 </td>

    </tr>

    <tr>
        <td> Salma </td>
        <td> 12 </td>
        <td> 12-12-12 </td>

    </tr>
</table>
