
@{
    ViewBag.Title = "CVProfile";
}



<div id="header"></div>
<div class="left"></div>
<div class="stuff">
    <br><br>
    <h1>Resume</h1>
    <h2>Faria Hossain Borna</h2>

    <hr />
    <br>
    <p class="head">Interests</p>
    <ul>
        <li>Drawing</li>
        <li>Photography</li>
        <li>Design</li>
        <li>Programming</li>
        <li>Computer Science</li>
    </ul>
    
       
    <p class="head">Extracurriculars</p>
    <ul>
        <li>ARTS Club</li>
        <li>Gardening Club</li>
        <li>Martial Arts Club</li>
    </ul>
</div>
<div class="right"></div>
<div id="footer">
    
</div>



