
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>

<p class="head"></p>
<br>
<ul>
    <li>
        <h4>Online Education System</h4>
        It is focused on online based education where student and teacher both will be benefited. It’s a group project where teachers part completed by me and rest of part done by team member.    ( Laravel, React js, Bootstrap, DB- Xampp)
    </li>
    <li>
        <h4>School Management System</h4>
        It is focused on online based school where the almost entire school can be controlled by online. It’s a group project where Librarian part completed by me and rest of part done by team member.   (Php, html, CSS, DB- Xampp)

    </li>
    <br>
    <li>
        Developed Test Plan for Automated Ticket Issuing System For Dhaka Subway System.
    </li>

    <br>
    <li>
        	Developed SRS document for Online Hotel Booking System.
    </li>

</ul>